html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #000;
}

#canvas {
  position: absolute;
  display: block;
  width: 50vw;
  height: 50vh;
  top: 20vw;
  z-index: -99;
}
body.o-start #canvas {
  cursor: none;
}

#message {
  position: absolute !important;
  width: 100vw !important;
  /* top: 0 !important; */
  color: rgba(255, 255, 255, 0.7);
  font-family: Georgia, serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.1em;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms;
}
body.o-start #message {
  opacity: 1;
}
